flask~=3.0.1
connexion[flask]~=3.0.5
connexion[uvicorn]
connexion[swagger-ui]
requests~=2.31.0
flask_restx
flask_restful
flask_sqlalchemy
flask_swagger_ui
flask_marshmallow
marshmallow-sqlalchemy
flasgger~=0.9.7.1
boto3~=1.34.46
botocore~=1.34.46
redshift_connector
pymysql
